* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    color: #e5e5e5;
    display: flex;

    .left {
        width: 240px;
        height: 100vh;
        background: #212121;
        border-right: 1px solid #333;
        display: flex;
        flex-direction: column;
        padding: 24px 16px;

    }

    .right {
        flex: 1;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .top-toolbar {
            height: 64px;
            background: #1a1a1a;
            border-bottom: 1px solid #333;
            padding: 0 32px;
            display: flex;
            align-items: center;
        }

    }
}

